server:
  port: 8083

spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:mysql://localhost:3306/DbBooking?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

logging:
  level:
    com.bookinn.bookingservice: DEBUG
    org.springframework.security: DEBUG
    com.netflix.discovery: INFO
    com.netflix.eureka: INFO